<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Developer Skills</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a href="/">HOME</a>
  |
  <a href="/skills">GO BACK</a>
  <h1><%= skill.name %></h1>
  <img src="<%= skill.picture %>" alt="image">
  <form action="/skills/<%= skill.number %>?_method=DELETE" class="delete-form" method="POST">
    <button type="submit">DELETE</button>
  </form>
  <!-- <form action="/skills/update">
    <button>EDIT SKILL</button>
  </form> -->
</body>
</html>